*{
  box-model: border-box;
}
body,html{
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}
[data-header-with-btn]{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
[data-header-with-btn] [data-font-ember-bold]{
  white-space: nowrap !important;
}
[data-main-chat-page-wrapper]{
  display: flex;
  flex-direction: column;
  height: 100%;
}
[data-chat-panel]{
  flex: 1;
}
[data-chat-msg-panel]{
  border: 1px solid #000;
  border-radius: 16px;
  padding: 4px 10px;
}